{% load staticfiles %}
<html>
    <head>
        <title>Mazos Clash Royale</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/mazos.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    </head>
    <body>
      <div class="page-header">
        {% if user.is_authenticated %}
          <a href="{% url 'ejercito_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          <p class="top-menu">Bienvenido {{ user.username }} <small>(<a href="{% url 'logout' %}">Salir</a>)</small></p>
        {% else %}
          <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}

        <h1>
          <img src="https://cdn.supercell.com/supercell.com/181107115415/supercell.com/files/clashroyale_logo.png" width="10%" height="10%"/>
          <a href="/">Mazos de Clash Royale</a>
        </h1>
        <h2>Los mejores mazos de la temporada!</h2>
      </div>
      <div class="content container">
        <div class="row">
          <img src="https://cdn.supercell.com/supercell.com/181107115415/supercell.com/files/clashroyale_titlescreen_032016.jpg" width="23%" height="58%" align="right"/>
          <div class="col-md-8">

            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </body>
    <footer id="sticky">Desarollado por Jerson Ochoa</footer>
  </html>
