{% extends 'mazos/base.html' %}

{% block content %}
  <div class="post">

    {% for a in detalle_arenas|slice:":1" %}
    <a class="btn btn-default" href="{% url 'ejercito_editar' pk=a.arena_id %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'ejercito_eliminar' pk=a.arena_id %}"><span class="glyphicon glyphicon-remove"></span></a>
    <h1>{{a.arena}}</h1>
    <h2>Tropas:</h2>
    {% for p in detalle_arenas %}

      <div class="post">
        <h3>{{ p.tropa|linebreaksbr }}</h3>
      </div>
    {% endfor %}

    {% endfor %}

  </div>
{% endblock %}
